@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    font-family: 'Varela Round', sans-serif !important;
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-size: 18px !important;*/
}

.navbar {
    background-color: #0D275C !important;
    color: white !important;
    padding: 20px 0 15px 0 !important;
}

.collapse a:hover {
    background-color: rgb(51, 98, 190) !important;
}

.navbar-brand {
    padding: 0 !important;
    margin: -12px 0 0 0 !important;
}

.nav {
    margin-left: 30px !important;
}

.icon-size {
    font-size: 24px !important;
}

.icon-design {
    background-color: #246BFF;
    border-radius: 100% !important;
    padding: 17px 20px 17px 20px;
    transition: 0.4s all ease-in-out;
    color: white !important;
    box-shadow: 2px 5px 10px !important;
    margin: 15px 0;
}

.icon-design:hover {
    color: silver !important;
    box-shadow: 2px 3px 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px !important;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}